* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

@font-face  {
    font-family: "Inter";
    src: url("https://fonts.googleapis.com/css2?family=Inter&display=swap"), format("woff2");
    font-display: swap;
    font-weight: 100;
}

/* ————————————— variables ————————————— */
:root {  
  --text-color-RGB: 50, 50, 50;
  --text-color-inverse-RGB: 255, 255, 255;
  --link-color-RGB: 0, 100, 255;
  --hover-color-RGB: 0, 215, 100; 
  --background-color-RGB: 255, 255, 255; 
  --surface-color-RGB: 240, 240, 240; 
  --product-done-color-RGB: 50, 160, 90;
  --product-hover-color-RGB: 220, 220, 225;
  --product-select-color-RGB: 139, 139, 139;
}

.vertical-space.S {
  height: 1em;
  
  @media (max-width: 768px) {
    height: 0.5em;  
  }
}

.vertical-space.M {
  height: 2em;

  @media (max-width: 768px) {
    height: 1em;    
  }
}

.vertical-space.L {
  height: 6em;
  @media (max-width: 768px) {
    height: 2em;    
  }
}

.vertical-space.XL {
  height: 9em;
  @media (max-width: 768px) {
    height: 4em;    
  }
}

.text-width {
  width: 80%;
  
  @media (max-width: 768px) {
    width: 100%;
  }
}

/* ————————————— variables ————————————— */

html {  
  font-size: 18px;

  @media (max-width: 768px) {
    font-size: 13px;
  }  

  /* --mobile-viewport-min: 320;
  --mobile-desktop-breakpoint: 768;
  --desktop-viewport-max: 1500;

  --mobile-font-size-min: 14;
  --mobile-font-size-max: 32;

  --desktop-font-size-min: 12.5;
  --desktop-font-size-max: 24;

  font-size: calc(var(--mobile-font-size-min) * 1px);

  @media screen and (min-width: 320px) {    
  font-size: calc(var(--mobile-font-size-min) * 1px + (var(--mobile-font-size-max) - var(--mobile-font-size-min)) * ((100vw - var(--mobile-viewport-min) * 1px) / (var(--mobile-desktop-breakpoint) - var(--mobile-viewport-min))));
  }

  @media screen and (min-width: 768px) {    
  font-size: calc(var(--desktop-font-size-min) * 1px + (var(--desktop-font-size-max) - var(--desktop-font-size-min)) * ((100vw - var(--mobile-desktop-breakpoint) * 1px) / (var(--desktop-viewport-max) - var(--mobile-desktop-breakpoint))));
  }

  @media screen and (min-width: 1500px) {    
  font-size: calc(var(--desktop-font-size-max) * 1px);
  } */

}

body {
  font-family: "Inter";
  margin: 0;
  color: rgba(var(--text-color-RGB),1);
  background-color: rgba(var(--background-color-RGB), 1);
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-size: 3.5em;
  margin: 0;
  font-weight: 400;
  letter-spacing: 0.01em;

}

p {
  margin: 0;
}

h3 {
  font-size: 2.5em;
  margin: 0em 0 0.5em;
  font-weight: 500;
}

h4 {
  font-size: 1.8em;
  margin: 0 0 1em;
  font-weight: 500;
}

/* h5 {
  font-size: 1.2em;
  margin: 0;
  font-weight: 400;
} */

a {
  color: rgba(var(--link-color-RGB),1);
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.15em;
  text-decoration-color: rgba(var(--link-color-RGB),0.3);

  transition: color 0.5s ease, text-decoration-color 0.5s ease;
}

a:hover {
  color: rgba(var(--hover-color-RGB),1);
  text-decoration-color: rgba(var(--hover-color-RGB),0.3);

  transition: color 0s ease, text-decoration-color 0s ease;
}

.chapter {
  margin: 0 1em;
  display: flex;
  /* width: 100%; */
  gap: 1em;

  @media (max-width: 768px) {
    width: 100%;
    padding: 0;
    margin: 0;

    display: block;
  }

  & section {
    flex: 0 0 53%;
    width: 53%;

    @media (max-width: 768px) {
      width: 100%;
      padding: 0 1em;
    }
  }

  & .basket {
    flex: 1 1 0;
    min-width: 0;

    @media (max-width: 768px) {
      display: none;
    }
  }

  & nav {
    flex: 1 1 0;
    min-width: 0;
    font-size: 0.9em;

    @media (max-width: 768px) {
      display: none;
    }

    & div {
      position: sticky;
      top: 2em;
      max-height: calc(100vh - 4em);
      overflow: hidden;
      padding: 0 2em 0 1em;
    }

      & ul{
      list-style: none;
      padding: 0;
      margin: 0;
      will-change: transform;
    }

    & details{
      list-style: none;
      padding: 0 0 1em 0;
      margin: 0;
    }

    & li {
      /* padding: 0 0 0 0.6em; */
      padding: 0 0 0 1em;
    }

    & summary {
      display: flex;
      align-items: center;
      list-style: none;
      cursor: pointer;


      font-weight: 600;
    }

    & summary::-webkit-details-marker {
      display: none;
    }

    & summary::after {
      content: '▼';
      font-size: 0.6em;
      margin-left: auto;
      padding-right: 0.7em;
      transition: transform 0.3s ease;
    }

    & details[open] > summary::after {
      transform: rotate(180deg);
    }

    & a {
      color: rgba(var(--text-color-RGB),0.7);
      text-decoration: none;

      display: block;
      flex: 1;
      min-width: 0;
      border-radius: 0.4em;
      padding: 0.4em 0.7em 0.4em;
      margin: 0 0 0.1em;

      transition: background-color 0.5s ease, text-decoration-color 0.5s ease;

    }

    & a:hover {
      background-color: rgba(var(--product-hover-color-RGB), 0.4);

      transition: background-color 0s ease, text-decoration-color 0s ease;
    }
  }
}

header {
  width: 53%;
  margin: 0 auto;

  @media (max-width: 768px) {
    width: 100%;
    padding: 0 1em;
    display: none;
  }

  & div {
    display: flex;
    gap: 1em;
    align-items: baseline;

    & p {
      /* font-size: 1.2em; */
    }
  }
}




.product-grid {
  & ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    /* margin-bottom: 1em; */
    margin: 0;
    padding: 0;

    --gap: 0.2em;
    --columns: 3;
    --gap-number: calc(var(--columns) - 1);

    gap: var(--gap);

    @media (max-width: 768px) {
      --columns: 2;
    }
  }

  & li {
    font-size: 1.1em;
    position: relative;
    width: calc((100% - var(--gap-number) * var(--gap)) / (var(--columns)));
    padding: 0.5em;
    border-radius: 1.4em;

    transition: background-color 0.5s ease, text-decoration-color 0.5s ease;
  }

  & div {
    position: relative;

    & a {
      padding: 0;
      text-decoration: none;
    }
  }

  & img {
    height: 20svw;
    /* height: 45%; */
    object-fit: cover;
    border-radius: 1em;

    @media (max-width: 768px) {
      height: 60svw;    
    }
  }

  & .add-wishlist {
    all: unset;
    cursor: pointer;
    position: absolute;
    top: 0.45em;
    right: 0.4em;

    display: flex;
    align-items: center;
    border-radius: 2em;

    & svg {
      display: block;
      width: 2.5em;
      height: 2.5em;
      flex-shrink: 0;

      color: rgba(var(--text-color-inverse-RGB), 1);
    }

    &::after {
      content: '';
      white-space: nowrap;

      height: 2.5em;

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  & li:not(.product-select) .add-wishlist:hover {
    background: rgba(var(--background-color-RGB), 1);
    padding: 0 0.8em 0 0;
  }

  & li:not(.product-select) .add-wishlist:hover::after {
    content: 'Выбрать';
  }

  & li.product-select .add-wishlist {
    background: rgba(var(--product-select-color-RGB), 1);
  }

  & li.product-select .add-wishlist svg {
    display: none;
  }

  & li.product-select .add-wishlist::after {
    content: 'Выбрано';
    /* margin: 0 0.8em; */
    padding: 0 0.8em;


    & svg {
      color: rgba(var(--text-color-RGB),0.7);
    }
  }

  & li.product-select .add-wishlist:hover::after {
    content: 'Убрать';
  }

  & .comments {
    display: flex;
    align-items: flex-end;
    gap: 0.3em;    

    position: absolute;
    bottom: 0.6em;
    left: 0.6em;
    right: 0.6em;

    font-size: 0.9em;
    font-weight: 400;

    & svg {
      width: 2em;
      flex-shrink: 0;
    }

    & p {
      color: rgba(var(--text-color-RGB), 1);
      display: block;
      margin: 0;
      background-color: rgba(var(--background-color-RGB), 0.9);
      border-radius: 0.5em;
      padding: 0.3em 0.5em 0.4em 0.5em;
    }
  }

  & hgroup {
    padding: 0.6em 0.8em 1em;

    @media (max-width: 768px) {
      padding: 0.6em 0.4em 0.6em;
    }

    & a {
      font-weight: 400;
      color: rgba(var(--text-color-RGB),1);
      text-decoration-color: rgba(var(--text-color-RGB),0.3);
    }

    & a:hover {
      color: rgba(var(--link-color-RGB),1);
      text-decoration-color: rgba(var(--link-color-RGB),0.3);
    }

    & .price {
      margin: 1em 0 0 0;
      display: flex;
      flex-direction: column;
      gap: 0.5em;
    }

    & span {
      /* display: block; */
      border: solid 1px rgba(var(--text-color-RGB),1);
      padding: 0.1em 0.6em;
      border-radius: 0.4em;
    } 
  }

  & .product-done {
    background-color: rgba(var(--product-done-color-RGB), 1);
    color: rgba(var(--text-color-inverse-RGB), 1);

    & a {
      /* font-weight: 300; */
      color: rgba(var(--text-color-inverse-RGB), 1);
      text-decoration-color: rgba(var(--text-color-inverse-RGB),0.3);
    }
    
    & span {
      border: solid 1px rgba(var(--text-color-inverse-RGB),1);
    }

    & p {
      /* font-weight: 300; */
    }
  }

  & .product-select{
    background-color: rgba(var(--text-color-RGB), 0.6);
    color: rgba(var(--text-color-inverse-RGB), 1);

    & a {
      /* font-weight: 300; */
      color: rgba(var(--text-color-inverse-RGB), 1);
      text-decoration-color: rgba(var(--text-color-inverse-RGB),0.3);
    }
    
    & span {
      border: solid 1px rgba(var(--text-color-inverse-RGB),1);
    }

    /* & p {
      background-color: rgba(var(--product-select-color-RGB), 1);
    } */

    & .comments {
      & p {
        color: rgba(var(--text-color-RGB), 1);
      }
    }
  }

  & li:not(.product-done, .product-select):hover {
    background-color: rgba(var(--product-hover-color-RGB), 0.4);

    transition: background-color 0s ease, text-decoration-color 0s ease;
  }
}
