* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

@font-face  {
    font-family: "Inter";
    src: url("https://fonts.googleapis.com/css2?family=Inter&display=swap"), format("woff2");
    font-display: swap;
    font-weight: 100;
}

/* ————————————— variables ————————————— */
:root {  
  --text-color-RGB: 50, 50, 50;
  --text-color-inverse-RGB: 255, 255, 255;
  --link-color-RGB: 0, 100, 255;
  --hover-color-RGB: 0, 215, 100; 
  --background-color-RGB: 255, 255, 255; 
  --surface-color-RGB: 240, 240, 240; 
  --product-done-color-RGB: 50, 160, 90;
}

.vertical-space.S {
  height: 1em;
  
  @media (max-width: 768px) {
    height: 0.5em;  
  }
}

.vertical-space.M {
  height: 2em;

  @media (max-width: 768px) {
    height: 1em;    
  }
}

.vertical-space.L {
  height: 4em;
  @media (max-width: 768px) {
    height: 2em;    
  }
}

.vertical-space.XL {
  height: 9em;
  @media (max-width: 768px) {
    height: 4em;    
  }
}

.text-width {
  width: 80%;
  
  @media (max-width: 768px) {
    width: 100%;
  }
}

/* ————————————— variables ————————————— */

html {  
    font-size: 18px;

    /* --mobile-viewport-min: 320;
    --mobile-desktop-breakpoint: 768;
    --desktop-viewport-max: 1500;

    --mobile-font-size-min: 14;
    --mobile-font-size-max: 32;

    --desktop-font-size-min: 12.5;
    --desktop-font-size-max: 24;

    font-size: calc(var(--mobile-font-size-min) * 1px);

    @media screen and (min-width: 320px) {    
    font-size: calc(var(--mobile-font-size-min) * 1px + (var(--mobile-font-size-max) - var(--mobile-font-size-min)) * ((100vw - var(--mobile-viewport-min) * 1px) / (var(--mobile-desktop-breakpoint) - var(--mobile-viewport-min))));
    }

    @media screen and (min-width: 768px) {    
    font-size: calc(var(--desktop-font-size-min) * 1px + (var(--desktop-font-size-max) - var(--desktop-font-size-min)) * ((100vw - var(--mobile-desktop-breakpoint) * 1px) / (var(--desktop-viewport-max) - var(--mobile-desktop-breakpoint))));
    }

    @media screen and (min-width: 1500px) {    
    font-size: calc(var(--desktop-font-size-max) * 1px);
    } */

}

body {
  font-family: "Inter";
  margin: 0;
  color: rgba(var(--text-color-RGB),1);
  background-color: rgba(var(--background-color-RGB), 1);
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-size: 3.3em;
  margin: 0;
  font-weight: 300;
  letter-spacing: 0.01em;

}

p {
  margin: 0;
}

h5 {
  font-size: 1.2em;
  margin: 0;
  font-weight: 400;
}

a {
  color: rgba(var(--link-color-RGB),1);
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.15em;
  text-decoration-color: rgba(var(--link-color-RGB),0.3);

  transition: color 0.5s ease, text-decoration-color 0.5s ease;
}

a:hover {
  color: rgba(var(--hover-color-RGB),1);
  text-decoration-color: rgba(var(--hover-color-RGB),0.3);

  transition: color 0s ease, text-decoration-color 0s ease;
}

.chapter {
    width: 53%;
    margin: 0 auto;

    @media (max-width: 768px) {
        width: 100%;
        padding: 0 1em;
    }
}

header {
    width: 53%;
    margin: 0 auto;

    @media (max-width: 768px) {
        width: 100%;
        padding: 0 1em;
    }

    & div {
        display: flex;
        gap: 1em;
        align-items: baseline;

        & p {
            font-size: 1.2em;
            /* border: solid 1px rgba(var(--text-color-RGB),1);
            padding: 0.4em;
            border-radius: 0.6em; */
        }
    }
}




.product-grid {
    & ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        /* margin-bottom: 1em; */
        margin: 0;
        padding: 0;

        --gap: 0.2em;
        --columns: 3;
        --gap-number: calc(var(--columns) - 1);

        gap: var(--gap);

        @media (max-width: 768px) {
            --columns: 2;
        }
    }

    & li {
        font-size: 1.1em;
        position: relative;
        width: calc((100% - var(--gap-number) * var(--gap)) / (var(--columns)));
        padding: 0.5em;
    }

    & div {
      position: relative;

      & a {
        padding: 0;
        text-decoration: none;
      }
    }

    & img {
        height: 20em;
        /* height: 45%; */
        object-fit: cover;
        border-radius: 1em;
    }

    & .shop-link {
        width: 2.5em;
        /* background-color: black; */
        position: absolute;
        bottom: 0.5em;
        left: 0.5em;
    }

    & .add-wishlist {
        width: 2.5em;
        position: absolute;
        top: 0.5em;
        right: 0.5em;
    }

    & hgroup {
      padding: 0.6em 0.8em 1em;

      & a {
        font-weight: 400;
        color: rgba(var(--text-color-RGB),1);
        text-decoration-color: rgba(var(--text-color-RGB),0.3);
      }

      & .price {
        margin: 1em 0 0 0;
        display: flex;
        flex-direction: column;
        gap: 0.5em;
      }

      & span {
        /* display: block; */
        border: solid 1px rgba(var(--text-color-RGB),1);
        padding: 0.1em 0.6em;
        border-radius: 0.4em;
      } 
    }

    & .product-done {
      background-color: rgba(var(--product-done-color-RGB), 1);
      border-radius: 1.4em;
      color: rgba(var(--text-color-inverse-RGB), 1);

      & a {
        font-weight: 300;
        color: rgba(var(--text-color-inverse-RGB), 1);
        text-decoration-color: rgba(var(--text-color-inverse-RGB),0.3);
      }
      
      & span {
        border: solid 1px rgba(var(--text-color-inverse-RGB),1);
      }

      & p {
        font-weight: 300;
      }
    }
}
